# Your IBM Cloud API Key for the user that will create and own all resources
ibmcloud_api_key      = ""

# All resources will be added to this resource group
resource_group        = "Default"

# If you set this to true then terraform will also manage your resource group - it's recommended to create one manually however as it rarely can be destroyed in sequence
create_resource_group = false

# This is used to identify the resource in your IBM cloud account - it will also appear in the cluster domain
cluster_name          = "terraform-roks-vpc"

# Chose the version of OpenShift to install - supported versions are ["4.3", "4.4", "4.5"]
oc_version            = "4.5"

#Following variables are all optional to set - listed below with their default values

#these tags will be applied to every resource that can have tags applied
# tags                  = []

# region = eu-gb

# this is the compute flavor that will be used for the default worker pool of the cluster
# options can be seen with the command: `ibmcloud ks flavors --zone $ZONE --provider vpc-gen2`

# worker_flavor = "bx2.4x16"

# number of workers created per zone in the default pool (this automation provisions across 3 zones)
# workers_per_zone = 1

# This is the compute flavor for the OCS workers - it is highly recommended to use at least this flavor or one with higher compute (16 vCPU, 64GB RAM)
# ocs_flavor = "bx2.16x64"

# Whether the license entitlement should come from existing cloud pak licenses or require a new license

# entitlement = "cloudpak"
